.sponge-converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; /* This ensures the div takes up the full viewport height */
  }

label, input, button, p {
    margin: 5px; /* Adjust the margin as needed */
  }

  p {
    width: 100vh;
  }